files !*.golden

hook hooky {
    command hooky lint {
        fix_args --fix
        pass_files file
    }
    files *
}

hook fourmolu {
    // FIXME: dotslash
    command "fourmolu" {
        check_args -m check
        fix_args -m inplace
    }
    files *.hs
}

lint_rules {
    - check_broken_symlinks
    - check_case_conflict
    - check_merge_conflict
    - end_of_file_fixer
    - no_commit_to_branch {
        branches {
            - main
            - release-*
        }
    }
    - trailing_whitespace
}
