name: CI
on:
  pull_request:
  push:
    branches:
      - main

defaults:
  run:
    shell: bash -eu -o pipefail {0}

jobs:
  cabal_file:
    uses: ./.github/workflows/cabal_file.yml

  build:
    needs:
      - cabal_file
    uses: ./.github/workflows/build.yml
    with:
      platforms: '["linux-x86_64"]'
      version: ${{ needs.cabal_file.outputs.version }}
